<h2>Tournament</h2>

<div *ngFor="let t of tournaments">

    <div class="row justify-content-md-center" *ngFor="let e of t.events">
        <br>
        <br>
        <div  class="col-md-2" *ngFor="let ph of e.Phases">
            <div *ngFor="let m of ph.Matches">
                <br>
                <button type="submit"  
                class="btn btn-primary btn-block" 
                (click)="tryPlaceBet(t.id,e.id,ph.id,m.id,0)" >{{m.Away.Desc}}</button>
                <button type="submit"  
                class="btn btn-primary btn-block" 
                (click)="tryPlaceBet(t.id,e.id,ph.id,m.id,1)" >{{m.Home.Desc}}</button>
                <br><br>
            </div>
        </div>
        
    </div>
  
</div>