<h1 class="header">Register</h1>
<div class="container-fluid">
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label>Email address</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="password">
        </div>
        <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-6">
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>