<div style="margin-top: 2rem;"></div>
 <div style="margin-left: 2rem;" *ngFor="let b of vBets">

    <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">
        <div class="card-header">{{b.data.tournament}}/{{b.data.event}}/{{b.data.round}}</div>
        <div class="card-body">
          <h4 *ngIf="awayWon(b)" class="card-title">{{b.data.player1}}</h4>
          <h4 *ngIf="!awayWon(b)" class="card-title">{{b.data.player2}}</h4>
          <p *ngIf="awayWon(b)" class="card-text">
            {{b.data.player2}}</p>
            <p *ngIf="!awayWon(b)" class="card-text">
                {{b.data.player1}}</p>
        </div>
        <button class="btn btn-primary btn-block" (click)="acceptBet(b)" >accept Bet</button>
      </div>
    <br>
    <br>
</div>